ipykernel
numpy
matplotlib
pylatexenc
sympy
pandas
scikit-learn
qiskit
qiskit-aer
qiskit-ibm-runtime
qiskit-algorithms
qiskit-machine-learning
qiskit-nature
dwave-ocean-sdk
pyscf
pennylane
tensorflow