ipykernel
numpy
matplotlib
pylatexenc
sympy
pandas
qiskit
qiskit-aer
qiskit-ibm-runtime
qiskit-algorithms
qiskit-nature
qiskit-machine-learning
dwave-ocean-sdk
pyscf
pennylane
scikit-learn